

$default-color: #1a1a1a;

$font-color: #1a1a1a;


$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #333333;
$color-grey: #aeaeae;

$color-primary: #ccc8b6;
$color-primary-dark: #9a977a;
$color-primary-light: #f2efe5;
$color-primary-lighten: #e7e5d0;

$color-pin: #8b623c;

$default-filter: grayscale(100%);