.twitter {
	
	&__item {
		display: flex;
		justify-content: center;
	}
	
	&__img {
		fill: $color-primary;
		width: 5.2rem;
		height: 5.2rem;
		
		@include respond(tab-port) {
			width: 4.2rem;
			height: 4.2rem;
		}
	}
}